SQLITE_DATABASE_URL="C:/Users/UserName/../../chronicle/"
USER_NAME="name-of-user"
HISTORY_DAYS="no-of-days-in-int-format-to-show-past-log-history"
LLM_BASE_URL="base-url-of-llm-of-your-choice"
LLM_MODEL_NAME="llm-name"
LLM_API_KEY="api-key-for-llm-if-applicable"
USE_LLM="True"