DB_DRIVER=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_NAME=chronicle
DB_USERNAME=username
DB_PASSWORD=password
JWT_SECRET_KEY=secret-key-for-jwt
JWT_ALGORITHM=algorithm-for-jwt
ACCESS_TOKEN_EXPIRE_MINUTES=access-token-expiry-minutes
DAILY_UPDATES_DAYS=7
PROJECT_LOG_DAYS=7
RECENCY_HOURS=24