{% extends "base.html" %}

{% block title %}
History Page
{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto px-6 py-8">
        <h1 class="text-3xl font-bold text-emerald-600 mb-2">History Page</h1>
        {% if logs_by_date %}
            {% for date, logs in logs_by_date.items() %}
                <h2 class="text-lg text-emerald-600 mb-6 py-3">{{ date.strftime('%B %d, %Y') }}</h2>
                <ul class="space-y-3 mb-4">
                    {% for log in logs %}
                        <li  class="flex items-center gap-4 p-4 bg-white rounded-lg shadow-sm border border-emerald-100" id="log-{{ log.id }}">
                            <span class="text-sm text-emerald-500 whitespace-nowrap">
                                {{ log.time_of_creation }}
                            </span>
                            <span class="flex-1 text-gray-700">
                               {{ log.entry }}
                            </span>
                            {% if log.updated_at %}
                                <span class="text-sm text-amber-500 italic">edited</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <p class="text-emerald-600 italic text-center mt-8 text-lg">No logs available in history, add your first log from home page...</p>
        {% endif %}

    </div>
{% endblock %}